@media screen and (max-width: 500px) {
  /* !font start */
  /* !font end */
  /* ////////////////////////// */
  /* !color variable start */
  :root {
    --primary-color: white;
    --border-color: none;
  }
  /* .dark-theme { */
  /* } */
  /* !color variable end */
  /* ////////////////////////// */
  /* ! html & body start */
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent;
    background-color: #f2f2f2;
  }
  /* ! html & body end */
  /* ////////////////////////// */
  /* convert section start  */
  #convertsection {
    border: none;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  #allcontents {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  #advertisment {
    height: 4%;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  #searchbar {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contentsec {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;
  }

  form {
    color: #555;
    display: flex;
    padding: 9px;
    border-radius: 40px;
    border: none;
    background-color: #e6e6e6;
    width: 90vw;
  }

  input[type="search"] {
    background: transparent;
    margin: 0;
    padding: 4px 0px;
    border: 1px solid transparent;
    border-radius: unset;
    width: 100%;
    font-size: 9px;
  }

  input[type="search"]::placeholder {
    color: rgb(0, 0, 0);
    font-size: 13px;
    text-align: left;
  }
  input[type="search"]:focus {
    outline: none;
    caret-color: #196bee;
  }

  input:focus::placeholder {
    color: transparent;
  }

  button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 6vw;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='11' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
      no-repeat center;
    cursor: pointer;
    margin-left: 3px;
    margin-top: 1px;
  }

  #cancelbtnn {
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 10px;
    color: #196bee;
    display: none;
  }

  #cancelbtnn:active {
    opacity: 0.9;
    color: #134faf;
  }
}

#displayallbox {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-content: flex-start;
  height: 125vh;
}
.boxes {
  flex-basis: calc(50% - 13vw);
  margin: 5px;
  background-color: white;
  height: 100px;
  padding: 7px;
  border-radius: 11px;
  position: relative;
}
.titalbox {
  font-size: 15px;
  margin-bottom: 6px;
  width: 88px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 17px;
}
.boxcontent {
  height: 56px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 82px;
  word-wrap: break-word;
}
.timebox {
  font-size: 8px;
  text-align: left;
  margin-top: 7px;
}

/* btnnn */

#addboxxbtnn {
  background-color: #d78246;
  width: auto;
  border-radius: 50%;
  border: none;
  font-size: 2.5em;
  text-align: center;
  color: white;
  position: fixed;
  padding: 0.3em 0.3em 0.3em 0.3em;
  right: 10vw;
  bottom: 12vh;
  z-index: 1;
}

#addboxxbtnn:active {
  transition: 0.1s;
  transform: scale(0.8);
  background-color: #c4763e;
}

#titall {
  height: 6%;
  width: 90vw;
  border: none;
  font-size: 2.2em;
  resize: none;
  margin-top: 4vh;
}

#titall:focus {
  border: none;
  outline: none;
}
#titall:focus {
  border: none;
  outline: none;
}

#discript {
  width: 90vw;
  border: none;
  resize: none;
  height: 100vh;
  font-size: 1.3em;
  margin-top: 15px;
}

#discript:focus {
  border: none;
  outline: none;
}

/* #savebuttunwrite{
  display: none;
} */

/* 
@media screen and (max-width: 256px) {
}  */

/* ! ==> arrow buttun save btn start */
#savebuttunwrite {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: black;
  position: absolute;
  top: 0vh;
  left: 5vw;
  font-size: 2.3em;
}

#savebuttunwrite:active {
  color: rgb(90, 90, 90);
}
/* ! ==> arrow buttun save btn start */

#form {
  background-color: white;
  color: black;
}

/* ! icons start */
#deleteicon {
  font-size: 2em;
  background: none;
  border: none;
  margin: 0;
  padding: 0.3em;
  position: relative;
  color: #d78246;
}
#deleteicon:active {
  background-color: rgb(212, 212, 212);
  border-radius: 50%;
}
#threedoticon {
  height: 100%;
  font-size: 1.7em;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 5vw;
  background: none;
}
#threedoticon:active {
  background-color: rgb(212, 212, 212);
  border-radius: 50%;
}
.deletemycard {
  font-size: 1.1em;
  background: none;
  border: none;
  margin: 0px;
  padding: 0;
  position: absolute;
  color: #d78246;
  right: 0.5vw;
  bottom: 1.5vh;
  z-index: 1;
}
/* ! icons end */

#iconcard {
  background-color: white;
  height: 10vh;
  padding: 7px;
  border-radius: 11px;
  position: absolute;
  width: 13vw;
  right: 9vw;
  top: 4vh;
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px #e3e3e3 solid;
  z-index: 1;
}
